html.launcher-overlay-host [data-overlay-host-root],
html.launcher-overlay-host [data-overlay-host-root] * {
  -webkit-user-select: none !important;
  user-select: none !important;
  -webkit-user-drag: none !important;
}

html.launcher-transparent-overlay,
html.launcher-transparent-overlay body,
html.launcher-transparent-overlay [data-overlay-host-root],
html.launcher-transparent-overlay [data-overlay-host-root] * {
  cursor: auto !important;
}

html.launcher-transparent-overlay.overlay-osu-focused,
html.launcher-transparent-overlay.overlay-osu-focused body,
html.launcher-transparent-overlay.overlay-osu-focused [data-overlay-host-root],
html.launcher-transparent-overlay.overlay-osu-focused [data-overlay-host-root] * {
  cursor: none !important;
}
